#datetime-picker {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  color: #4d3d3d;
  font-size: 10px;
}

.value {
  font-size: 18px;
  font-weight: bold;
  color: #4d3d3d;
}

button[data-start] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1942d3f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[data-stop] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3ab4d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[data-start]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[data-stop]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
